langchain
ipykernel
python-dotenv
langchain-community
arxiv
pymupdf
langchain-text-splitters
langchain-openai
chromadb
langchain-ollama
sentence-transformers
langchain-huggingface
faiss-cpu
chromadb
langchain_chroma
langchain_core
streamlit
langchain-groq
fastapi
uvicorn
langserve
sse-starlette
langchain-community
bs4
pypdf
langgraph
pandas
